<div class="w-screen h-screen flex items-center bg-[rgba(0,0,0,0.83)]">
	<div class="container max-w-xl mx-auto border-2 rounded-lg py-10 bg-[rgba(255,255,255,0.93)]">
		<div class="w-4/5 mx-auto flex justify-between items-center">
			<app-header></app-header>

			<!-- custom event being emitted from the app button now the value of fields visibility being accessible by the parent app -->
			<app-button (taskVisible)="toggleFields($event)" ></app-button>
		</div>
		<div class="w-4/5 mx-auto">

			<!-- custom being emitted from the app fields now the value of tasks being accessing by the parent app  -->
			<!-- <app-fields [toggleFieldVisibility]='toggleFieldsVisibility' {{//(saveTask)="handleTaskSave($event)"}}></app-fields> -->
			<app-fields [toggleFieldVisibility]='toggleFieldsVisibility'  (taskInserted)="onTaskInserted()"></app-fields>
		</div>
		<div class="w-4/5 mt-5 mx-auto">
			<app-tasks *ngIf="savedTask.length !== 0" [savedTask]='savedTask'></app-tasks>
		</div>
	</div>
</div>